<div class="container">
    <div>
    <h2>Ajouter un Etudiant :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Nom :</label>
        <input type="text" [(ngModel)]="newEtudiant.nom"name="nom" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Prenom :</label>
        <input type="text"[(ngModel)]= "newEtudiant.prenom" name="prenom" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >CIN :</label>
        <input type="number" [(ngModel)]= "newEtudiant.cin"name="cin" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date de naissance :</label>
        <input type="date" [(ngModel)]= "newEtudiant.dateNaissance" name="dateNaissance" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Classe :</label>
        <input type="text" [(ngModel)]= "newEtudiant.classe "name="classe" class="form-control">
        </div>
    <div class="mt-2">
<button type="submit" (click)="addEtudiant()"class="btn btn-success">Ajouter</button>
    </div>
            </form>
</div>
